* {
  margin: 0px;
  padding: 0;
}
body {
  background-color: rgb(134, 130, 130);
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 12pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #ebfcff;
  position: relative;

  padding: 40px;
}
h1 {
  color: #0e2452;
}
li {
  font-size: 16px;

  margin: 0 20px;
  padding: 3px 0;
}
li:first-child {
  margin-top: 15px;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(53, 50, 50);
}
/* .section-content {
  margin: 15px 0;
} */

.avatar-img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 113px;
  height: 113px;
}

.info-left {
  min-width: 150px;
  display: inline-block;
  margin: 10px 0;
}
.left-width {
  min-width: 350px;
  display: inline-block;
}
.edu-lis {
  display: flex;
  border-bottom: 1px solid rgb(173, 169, 169);
  padding: 15px 0;

  position: relative;
}
.edu-lis::before {
  content: "";
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  width: 2px;
}
.edu-lis::after {
  content: "";
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  position: absolute;
  left: -19px;
  height: 10px;
  width: 10px;
}
.activity-content {
  display: flex;
  margin: 10px 0;
  padding: 15px 0;
  border-bottom: 1px solid rgb(173, 169, 169);
}
.project-title {
  text-transform: uppercase;
  margin-top: 15px;
}
.fix-space {
  margin-top: 15px;
  padding: 5px 0;
  line-height: 25px;
  border-bottom: 1px solid rgb(173, 169, 169);
}
.fix-line-space {
  line-height: 25px;
}
.link:hover {
  color: red;
}
